.chatHolder {
	display: grid;
	grid-template-rows: 1fr 5vh;
}

/* 100px */

.chatText {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1em;
	/* gap: 50px; */
	padding: 1em;
	/* height: calc(41vh - 4px - 5px - 5px - 5px); */
	/* height: calc(100vh - 547px); */
	/* height: calc(100vh - 34rem); */
	height: calc(100vh - 35em + 13px);
	/* height: 35vh; */
	/* max-height: 55vh; */
	overflow-y: auto;
}

.form {
	display: grid;
	grid-template-columns: 1fr 10vh;
	border-top: 1px solid #eee;
}

.textarea {
	/* padding: 1em; */
	border: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	/* font-size: 1.2em; */
}

.button {
	border: 0;
	color: white;
	font-weight: bold;
	font-size: 1.4em;
	background: linear-gradient(to right, #363795, #005C97);
}

.button:hover {
	background: linear-gradient(90deg, rgba(54, 55, 149, 1) 0%, rgba(0, 92, 151, 1) 62%, rgba(0, 125, 205, 1) 100%);
}

.button:disabled,
.button:hover:disabled {
	background: linear-gradient(to right, #363795, #005C97);
	opacity: 0.5;
}

.message {
	background-color: #eef5f8;
	padding: 0.5em;
	border-radius: 10px;
	flex-grow: 0;
	border-bottom-left-radius: 0;
}

.message[data-author="me"] {
	background-image: linear-gradient(to right, rgb(43, 44, 119), rgb(0, 74, 121));
	background-color: initial;
	color: rgb(232, 230, 227);
}

.message[data-author="me"] {
	background-color: #eef5f8;
	border-bottom-left-radius: 10px;
	align-self: flex-end;
}

.message[data-author="me"] {
	background: linear-gradient(to right, #363795, #005C97);
	color: white;
	-webkit-align-self: flex-end;
	-ms-flex-item-align: end;
	align-self: flex-end;
	border-bottom-right-radius: 0 !important;
	border-bottom-left-radius: 10px !important;
}