.round {
	font-family: var(--secondary-font);

	text-align: center;
}

.title {
	font-size: 36px;
	color: var(--primary-light);
	text-transform: uppercase;
}

.question {
	font-size: 24px;
}

.message {
	font-size: 30px;
}

.error {
	color: var(--error-color);
}

.success {
	color: var(--success-color);
}

.game {
	position: absolute;
	height: 355px;
	width: 855px;
	left: 23px;
	top: 155px;
	border-radius: 0.5rem;
	border: solid 1px #4c4c4c;
	background: #404040;
}

.makeBet {
	font-size: 24px;
	color: var(--primary-light);
	// text-transform: uppercase;
}

.Buser {
	/* Banker */
	position: absolute;
	height: 44px;
	width: 105px;
	left: 107px;
	top: 15px;
}

.Bdie1 {
	position: absolute;
	height: 105px;
	width: 105px;
	left: 113px;
	top: 60px;
	border-radius: 0px;

}

.Bdie2 {
	position: absolute;
	height: 105px;
	width: 105px;
	left: 259px;
	top: 60px;
	border-radius: 0px;

}

.Bdie3 {
	position: absolute;
	height: 105px;
	width: 105px;
	left: 405px;
	top: 60px;
	border-radius: 0px;

}

.Bresult {
	/* Banker Roll Result */
	position: absolute;
	height: 44px;
	width: 305px;
	left: 500px;
	top: 90px;
	border-radius: 0px;
}

.Puser {
	/* Player */
	position: absolute;
	height: 44px;
	width: 105px;
	left: 107px;
	top: 185px;
	border-radius: nullpx;

}

.Pdie1 {
	position: absolute;
	height: 105px;
	width: 105px;
	left: 113px;
	top: 230px;
}

.Pdie2 {
	position: absolute;
	height: 105px;
	width: 105px;
	left: 259px;
	top: 230px;
}

.Pdie3 {
	position: absolute;
	height: 105px;
	width: 105px;
	left: 405px;
	top: 230px;
}

.Presult {
	/* Player Roll Result */
	position: absolute;
	height: 44px;
	width: 292px;
	left: 500px;
	top: 265px;
	border-radius: 0px;
}

.betEl {
	position: absolute;
	height: 755px;
	width: 506px;
	left: 890px;
	top: 155px;
	border-radius: 0.5rem;
	border: solid 1px #4c4c4c;
	background: #404040;
}

.guideEl {
	position: absolute;
	height: 755px;
	width: 495px;
	left: 1410px;
	top: 155px;
	border-radius: 0.5rem;
	border: solid 1px #4c4c4c;
	background: #404040;
}


.betButton {
	// -webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	box-sizing: border-box;
	margin: 0;
	line-height: inherit;
	width: 80%;
	border: none;
	font-family: inherit;
	font-size: 1.2em;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: 800;
	outline: none;
	position: relative;
	transition: all .3s;
	border-radius: 5px;
	padding: 1rem 2rem;
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 10px;
	background: #e58929;
	color: #fff;
	box-shadow: 0 5px #ad6215;
	cursor: pointer;
	opacity: 1;
}

.gameResult {
	margin-top: 80px;
}

.hotkeysTitle {
	margin-top: 80px;
	font-size: 24px;
	color: var(--primary-light);
	text-transform: uppercase;
}

.hotkeys{
	font-size: 19px;
	// text-transform: uppercase;
}

.logEl {
	position: absolute;
	height: 390px;
	width: 855px;
	left: 23px;
	top: 520px;
	border-radius: 0.5rem;
	border: solid 1px #4c4c4c;
	background: #404040;

	display: grid;
	grid-template-columns: 34px 1fr;
	grid-template-rows: auto;
	grid-template-areas: "vertical-switch bottom-panel-container";
	box-shadow: 0 8px 40px 0 rgba(0, 0, 0, .1);
}

.sideBar {
	grid-area: vertical-switch;
	border: solid 1px #4c4c4c;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.sideBarOptions {
	margin: 0px;
	padding: 0px;
	border: none;
	position: relative;
	top: 0;
	right: 0;
	left: 0;
	bottom: 1.5rem;
	display: block;
	height: 350px;
}

.sideBarChatFrame {
	top: 0;
	bottom: 50%;
	float: none;
	display: flex;
	align-items: center;
	cursor: pointer;
	position: absolute;
	right: 0;
	left: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
	justify-content: center;
	background-color: #4c4c4c;
	color: #727272;
	background-color: transparent !important;
	cursor: default;
}

.sideBarHistoryFrame {
	top: 50%;
	bottom: 0;
	float: none;
	display: flex;
	align-items: center;
	cursor: pointer;
	position: absolute;
	right: 0;
	left: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
	justify-content: center;
	background-color: #4c4c4c;
	color: #727272;
}

.sideBarChat {
	border: 0;
	color: #e58929 !important;
	background-color: transparent !important;
	cursor: default;
	top: 50%;
	text-transform: uppercase;
	letter-spacing: 2px;
	white-space: nowrap;
	transform: rotate(270deg);
	transform-origin: 50% 50%;
	position: absolute;
	font-weight: 800;
	line-height: 1.5rem;
	height: 1.5rem;
	max-width: 1.5rem;
	display: block;
	font-size: .8rem;
	padding: 0;
	color: #727272;
}

.sideBarHistory {
	top: 60%;
	text-transform: uppercase;
	letter-spacing: 2px;
	white-space: nowrap;
	transform: rotate(270deg);
	transform-origin: 50% 50%;
	position: absolute;
	font-weight: 800;
	line-height: 1.5rem;
	height: 1.5rem;
	max-width: 1.5rem;
	display: block;
	font-size: .8rem;
	padding: 0;
	color: #727272;
}

.sideBarSetting {
	height: 34px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #e58929;
	text-decoration: none;
	background-color: transparent;
	cursor: pointer;
}

.logElContentBoxFrame {
	grid-area: bottom-panel-container;
	background-color: #4c4c4c;
	border-top-right-radius: .4rem;
	border-bottom-right-radius: .4rem;
}

.switchable_area {
	height: 383.6px;
	overflow: hidden;
	height: 100%;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	grid-template-areas: "overlapChatWrapperAndAddChannels";
}

.logElContentBox {
	grid-area: overlapChatWrapperAndAddChannels;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 34px;
	grid-template-areas: "chat-history-container"
		"add-chat";
}

.logElContentChat {
	grid-area: chat-history-container;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: "overlap";
}

.logElContentChatGrid {
	grid-area: overlap;
	display: grid;
	grid-template-columns: 1fr 80px;
	grid-template-rows: 20px 1fr;
	grid-template-areas: "channel-title close-chat-btn"
		"chat-messages-container chat-messages-container";
}

.idkHeaderRole {
	background-color: transparent;
	border: 0;
	padding: 0 3px;
	margin: 0;
	font-weight: bold;
	color: #727272;
	color: inherit;
	text-decoration: none;
	background-color: #4c4c4c;
	grid-area: channel-title;
	text-align: center;
	margin: 0;
	padding: 0 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #999;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	cursor: pointer;
}

.idkHeaderName {
	background-color: #4c4c4c;
	grid-area: channel-title;
	text-align: center;
	margin: 0;
	padding: 0 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #999;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.idkButton {
	background-color: #4c4c4c;
	grid-area: close-chat-btn;
	white-space: nowrap;
	font-size: .8rem;
	color: #999;
	font-weight: 700;
	border: 0;
	border-top-right-radius: .4rem;
}

.idkButtonIcon {
	color: #ff5a5f;
	font-family: "Font Awesome 5 Pro";
	font-weight: 900;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
}

.chatContent {
	height: 329.6px;
	padding-right: 95px;
	position: relative;
	grid-area: chat-messages-container;
	overflow-y: scroll;
	overflow-wrap: break-word;
	margin: 0;
	list-style: none;
	padding: 5px;
	background-color: #404040;
	display: block;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	margin: 0;
	font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.5;
	color: #fff;
	text-align: left;
	background-color: #404040;
}

.chatContentItem {
	overflow: hidden;
	display: list-item;
	text-align: -webkit-match-parent;
}

.chatContentItemTime {
	color: #999;
	font-size: 80%;
	font-weight: 400;
	text-align: -webkit-match-parent;
	position: relative;
	grid-area: chat-messages-container;
	overflow-y: scroll;
	overflow-wrap: break-word;
	margin: 0;
	list-style: none;
	padding: 5px;
	background-color: #404040;
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.chatContentItemUsername {
	font-family: "Segoe UI", Tahoma, Verdana, Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	color: #e58929;
	text-decoration: none;
	background-color: transparent;
	cursor: pointer;
	text-align: -webkit-match-parent;
	position: relative;
	grid-area: chat-messages-container;
	overflow-y: scroll;
	overflow-wrap: break-word;
	margin: 0;
	list-style: none;
	padding: 5px;
	background-color: #404040;
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.chatContentItemMessage {}

.logElContentChatForm {
	grid-area: add-chat;
	display: block;
	margin-top: 0em;
	box-sizing: border-box;
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.input_group {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	width: 100%;
	box-sizing: border-box;
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.input_chatMessage {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	position: relative;
	flex: 1 1 auto;
	width: 1%;
	min-width: 0;
	margin-bottom: 0;
	height: 34px;
	border-color: #4c4c4c;
	background-color: #404040;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left: 1px solid #404040;
	transition: none;
	display: block;
	// width: 100%;
	// height: calc(1.5em + 0.75rem + 2px);
	// padding: 5px 5px;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.5;
	color: #fff;
	background-color: transparent;
	background-clip: padding-box;
	border: 1px solid #666;
	border-radius: 5px;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

.input_chatMessageSend {
	margin-left: -1px;
	display: flex;
	box-sizing: border-box;
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.input_chatMessageSendButton {
	cursor: pointer;
	height: 34px;
	width: 45px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0;
	justify-content: center;
	border-top-right-radius: 0;
	border-bottom-right-radius: .4rem;
	border-right: 1px solid transparent;
	font-size: 1rem;
	background-color: #4c4c4c;
	border: 0;
	color: #fff;
	box-shadow: 1px 0 0 0 #4c4c4c;
}